{% load static %}
<link rel="stylesheet" href="{% static 'css/menu_color.css' %}">

<div style="background: url('{% static 'restic/images/header-bg.jpg' %}') center/cover;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1000;"><!-- Элемент на фоне растягивается и мешает шапке - это разграничивает(шаблон about)-->
    <img src="{% static 'restic/images/logo.png' %}" alt="Логотип" style="width: 450px; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);">

    <div style="position: absolute; bottom: 20px; display: flex; gap: 40px;">
        <a href="{% url 'restic:index' %}" class="nav-link-gold">Главная</a>
        <a href="{% url 'restic:about' %}" class="nav-link-gold">О ресторане</a>
        <a href="{% url 'restic:booking' %}" class="nav-link-gold">Бронирование</a>
        <form id="logout-form" method="post" action="{% url 'users:logout' %}" style="display: inline;">
        {% csrf_token %}
            <button type="submit" class="nav-link-gold" style="background: none; border: none; cursor: pointer;">
                Выход
            </button>
        </form>
    </div>
</div>